<main>
  <div class="review container">
    <p class="review__back-link"><a href="/">Back to reviews</a></p>

    <article class="review__content">
      <p>Review content goes here</p>
    </article>
  </div>
</main>
